@tailwind base;
@tailwind components;
@tailwind utilities;

/* Override browser's default autofill styling */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  /* Change the background color to match your input's background */
  background-color: inherit !important;
  /* Apply a filter to change the text color */
  -webkit-text-fill-color: gray !important;
  /* Remove the box shadow, or adjust it to match your design */
  box-shadow: 0 0 0px 1000px inherit inset !important;
  /* Optionally, apply a custom transition */
  transition: background-color 5000s ease-in-out 0s;
}

/* Apply a filter to change the text color */
input:-webkit-autofill::first-line,
input:-webkit-autofill:hover::first-line,
input:-webkit-autofill:focus::first-line,
textarea:-webkit-autofill::first-line,
textarea:-webkit-autofill:hover::first-line,
textarea:-webkit-autofill:focus::first-line,
select:-webkit-autofill::first-line,
select:-webkit-autofill:hover::first-line,
select:-webkit-autofill:focus::first-line {
  /* Change the text color to gray-500 */
  color: #6b7280 !important;
  filter: none !important;
}


html,
body,
:root {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p, div, span {
  color: gray;
}

.bluewhite {
  color: #e2e7ff;
}

input::placeholder {
  color: #e2e7ff2b;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #e2e7ff2b;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: #e2e7ff2b;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: #e2e7ff2b;
}
input::-ms-input-placeholder { /* Microsoft Edge */
  color: #e2e7ff2b;
}

.dark-bg {
  background-color: #111428;
}

.dark-text {
  color: #151932;
}

.double-shadow {
  box-shadow:
    50px 50px 100px #111428,
    -50px -50px 100px rgba(115, 134, 254, 0.187);
}

.border-opacity-low {
  border: 2px solid rgba(255, 255, 255, 0.07);
}

hr {
  width: 40px;
  height: 1px;
  border: 1px solid gray;
  border-top: none;
  border-left: none;
  border-right: none;
}